/*
 * ce- card editor
 */
 #ce-cardEditor{
	left:100px;
	position:absolute;
	top:80px;
	border-top:1px dashed #aaa;
}
.ce-cardEditor{
	padding:15px;
}
div.ce-cardEditorActive {
	/*border-color:#ddd;*/
}
.ce-cardPad{
	background: url("../img/pic/card-pad.png") no-repeat scroll 0 0 #FFFFFF;
	float:left;
	height:194px;
	width:320px;
	position:relative;
}

/* plus menu on top of the cards*/
.ce-plusMenu{
	position:absolute;
	left:10px;
	top:-14px;
}
.ce-plusMenu span{
	color:gray;
	margin-left:1em;
	border-bottom:3px solid white;
}
.ce-plusMenu span.ce-plusMenuActive{
	color:#ff9900;
}
.ce-plusMenu span.ce-plusMenuHover{
	border-color:#aaa;
}
#ce-plus-ins-1, #ce-plus-ins-3{
  font-size:11pt;
  font-weight:bold;
}



.ce-tableCard{
	margin:0;
	height:100%;
	table-layout:fixed;	
	color:gray;
}
/* 
	sets max-height for IE http://perishablepress.com/press/2007/01/16/maximum-and-minimum-height-and-width-in-internet-explorer/
*/
/*
 * html div#division { 
   height: expression( this.scrollHeight > 332 ? "333px" : "auto" ); 
}
*/
.ce-inlineMiddle{
	padding:0 20px;
	text-align:center;
	max-height:160px;
	overflow:hidden;
	padding:0 19px 0 22px;
}
.ec-cardLogo{
	bottom:23px;
	height:12px;
	position:absolute;
	right:20px;
	width:104px;
	background: url("../img/pic/ez-logo-gray.png") no-repeat scroll 0 0 #FFFFFF;
}

.ce-mainWord{
	line-height:1.2em;	
	text-align:center;
	font-size:18pt;
}
.ce-translWord {
	/*border-bottom:1px dashed;*/
	font-size:16pt;
	line-height:1.1em;
	margin-bottom:0.1em;
}
.ce-exWord,.ce-defWord,.ce-synWord,.ce-moreWord{
  font-size:small;
  font-style:italic;
  text-align:left;
  line-height:1.3em; 
}

.ce-insStrPerf{
	color:gray;
	font-size:smaller;
	font-style:normal;
	margin:0 5px 0 3px;
}
.ce-insStrSug{
	color:red;
}
.ce-insStrTip{
	color:#f00;
	font-style:italic;
}
/*
 * Input block: moving input field
 */

#ce-inputBlock{
	position:absolute;
	top:175px;
	left:0;
	background:transparent url(../img/pic/aaaaaa_40x100.png) scroll 0 0;
	padding:5px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/	
}
#ce-inputBlock div.ce-inputBlockMain {
	background-color:#FF9900;
	background:-moz-linear-gradient(center top , #FF9900, white 140%) repeat scroll 0 0 #FF9900;
	border:1px solid #aaa;
	padding:3px 15px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/	
}
#ce-inputBlock div.ce-inputBlockCtrl{
	margin-top:2px;
	position:absolute;
	right:14px;
	top:14px;
}
#ce-inputBlock div.ce-inputBlockTransl{
	background-color:NavajoWhite;
	border:1px solid #DDDDDD;
	position:absolute;
	left:6px;
	margin-top:6px;
	padding:3px 7px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*behavior: url(./css/border-radius.htc);*/
}


.ce-inputString {
	padding:5px;
	margin:5px 0;
	width:285px;
	height:10px;
		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*behavior: url(./css/border-radius.htc);*/
}

.ce-inputStringDisabled{
	
}
.ce-inputStringDisabled textarea{
	color:red;
	background-color:LemonChiffon;
}

#ce-inpBlOk{
	background:transparent url(../img/icons/round_ok_24x24.png) no-repeat scroll right 0;
	height:24px;
	width:24px;
	position:absolute;
	right:-3px;
	top:-3px;
}


#ce-saveCardWrapper{
	background:url("../img/pic/aaaaaa_40x100.png") repeat scroll 0 0 transparent;
	bottom:0px;
	padding:3px;
	position:absolute;
	right:160px;
	width:350px;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	/*behavior: url(./css/border-radius.htc);*/
}
.ce-saveCard{
	background-color:#f9f9f9;
	border:1px solid #aaa;
	padding:3px;
	text-align:center;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/	
}

/*check ie.css file*/
.ce-saveCard button{
	top:0;
}


/*
 * decoration classes from JS only.
 */
.ce-inputTip{
	color:gray;
	font-style:italic;
}
.ce-currentLine{
	background-color:#ddd;
	color:black;
}
.ce-currentLineActive{
	background-color:#eee;
}

#ce-langFrom{
  color:brown;
  font-weight:bold;
}
#ce-langTo{
  color:green;
  font-weight:bold;
}

