/*
 * dic- dictionary editor
 */
#dic-dicWrapper{
	background-color:#FFFFFF;
	border-bottom:1px solid;
	border-top:1px solid;
	left:0;
	position:absolute;
	top:335px;
	width:950px;
	padding-bottom:0.5em;
}
#dic-branding{
	position:absolute;
	top:-50px;
	right:0px;
}
#dic-translForWrapper{
	float:left;
	width:950px;
}
#dic-translFor{
	background-color:Beige;
	color:DarkCyan;
	float:left;
	font-size:larger;
	font-style:italic;
	margin:10px 10px 0;
	padding:0 3px;
}

#dic-topResult{
	font-size:large;
	margin:10px 0 5px 10px;
}
.dic-res{
	cursor:pointer;
	text-decoration:underline;
}
.dic-res:hover{
	text-decoration:none;
}
#dic-resTabs{
	margin: 0 0 .5em 0;
}
li.dic-dicSwBase{
	max-width:180px;
	list-style:none outside none;
	color:gray;
	float:left;
}
li.dic-dicSwBase ul{
	margin-bottom:1em;
	list-style:decimal outside none;
}
.dic-partOfSpeech{
	color:#000000;
	font-family:verdana,arial,serif;
	font-style:italic;
	margin:0 0 0 1em;
}

.dic-sound{
  width:24px;
  height:24px;
  display:block;
  float:left;
  background:transparent url(../img/icons/sounds.png) no-repeat scroll 0 0;
  margin-top:7px;
}
.dic-activeSound{
  background-position: 0 -32px;
}
.dic-activeSoundPlay{
	background-position: 0 -64px;
}
.dic-activeSoundHover{
		background-position: 0 -96px;
}
