/*
 * dic- dictionary editor
 */
#dic-dicWrapper{
	background:url("../img/pic/aaaaaa_40x100.png") repeat scroll 0 0 transparent;

	left:10px;
	position:absolute;
	top:335px;
	width:920px;
	padding:5px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-dicInner{
	background-color:#fff;
	padding:5px;
	border:1px solid #aaa;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/	
}
.dic-bottom{
	text-align:right;
}
#dic-branding{
	position:absolute;
	top:-50px;
	right:0px;
}
#dic-translForWrapper{
	
}
#dic-translFor{
	background-color:Beige;
	color:DarkCyan;
	font-size:larger;
	font-style:italic;
	margin:10px 10px 0;
	padding:0 3px;
}

#dic-topResult{
	font-size:large;
	margin:10px 0 5px 10px;
}
.dic-res{
	cursor:pointer;
	text-decoration:underline;
}
.dic-res:hover{
	text-decoration:none;
}
ul#dic-resTabs{
	float:left;
	margin:0 5px;
	width:100%;
}
li.dic-dicSwBase{
	max-width:180px;
	list-style:none outside none;
	color:gray;
	float:left;
}
li.dic-dicSwBase ul{
	margin-bottom:1em;
	list-style:decimal outside none;
}
.dic-partOfSpeech{
	color:#000000;
	font-family:verdana,arial,serif;
	font-style:italic;
	margin:0 0 0 1em;
}

.dic-sound{
  width:24px;
  height:24px;
  display:block;
  float:left;
  background:transparent url(../img/icons/sounds.png) no-repeat scroll 0 0;
  margin-top:7px;
}
.dic-activeSound{
  background-position: 0 -32px;
}
.dic-activeSoundPlay{
	background-position: 0 -64px;
}
.dic-activeSoundHover{
		background-position: 0 -96px;
}

.dic-insertIntoWrapper{
	background:transparent url(../img/pic/aaaaaa_40x100.png) scroll 0 0;
	left:550px;
	position:absolute;
	top:280px;
	width:300px;
	padding:5px;
	z-index:1027;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-insertInto{	
	padding:5px 20px;
	background-color:#FFFFC6;
	border:1px solid #aaaaaa;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-resActive{
	color:blue;
}
/* line with history of translated words */
.dic-dicWrapperCtrl{
  margin:5px;
  float:left;
  background:url("../img/icons/up_down_arrow_small.png") no-repeat scroll 100% -35px transparent;
  padding:0 17px 0 0;
}
.dic-wordHisList{
	cursor:pointer;
	float:left;
	margin:5px;
	overflow:hidden;
	width:810px;	
}
.dic-wordHis{
	display:inline;
	margin-left:5px;
	color:#66AACC;
}
span.dic-wordHis:hover{
	color:#fff;
	text-decoration:underline;
}

.dic-dicBar{
  background-color:#224466;
  margin-top:230px;
  color:white;
  position:relative;
}

.dic-dicBar div.ttm{
  color:yellow;
  background-position: 100% -54px;
}
.dic-langToFrom{
	background:url("../img/icons/up_down_arrow_small.png") no-repeat scroll 100% -17px transparent;
	float:left;
	margin:7px 5px 0 0;
	padding:0 17px 0 0;
	border-bottom:1px solid #fff;
}
.dic-langToFrom:hover{
	border-color:#ccc;
}
.dic-langToFromActive{
	border-color:#ccc;
	background-position:100% 2px;
	background-color:Beige;
}
#dic-langTo,#dic-langFrom{
	color:blue;
	font-weight:bold;
	padding:0 3px;
}
.dic-fadeOutLine{
  position:absolute;
  background:url("../img/pic/ec-fade-out.png") repeat-y scroll -80px 0 transparent;
  width:60px;
  height:100%;
  top:0;
  right:20px;
}
.dic-wordHisMore{
  position:absolute;
  height:100%;
  top:5px;
  right:20px;
}
.dic-wordHisFirst{
	color:tan;
}


.dic-langPadWrapper {
	background:url("../img/pic/aaaaaa_40x100.png") repeat scroll 0 0 transparent;
  padding:5px;
  position:absolute;
  top:40px;
  left:10px;
  
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/  
}
.dic-langPad{
	background-color:#f9f9f9;
	border:1px solid #aaa;
	padding:3px 10px;
	float:left;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/		
}
.tetete{
	float:left;
}

#dic-closeLangPad {
	background:transparent url(../img/icons/error.png) no-repeat scroll right 0;
	height:16px;
	width:16px;
	position:absolute;
	right:8px;
	top:8px;
}



#dic-langSwitch{
	background:url("../img/icons/lang_switch.png") no-repeat scroll 0 0 #EEEEEE;
	border:1px solid #AAAAAA;
	color:red;
	display:inline-block;
	height:17px;
	width:17px;
	vertical-align:text-bottom;
	margin:6px 7px;
}
#dic-langSwitch:hover{
	background-color:#ddd;
	border-color:#aaa;
}
.dic-langPadLabel{
	color:brown;
}

