/*
 * dic- dictionary editor
 */
#dic-dicWrapper{
	background:url("../img/pic/aaaaaa_40x100.png") repeat scroll 0 0 transparent;

	left:10px;
	position:absolute;
	top:335px;

	padding:5px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-dicInner{
	background-color:#fff;
	padding:5px;
	border:1px solid #aaa;
	width:900px;
	float:left;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/	
}
.dic-bottom{
	bottom:10px;
	position:absolute;
	right:14px;
}
#dic-branding{
	float:left;
	margin:5px;
}
#dic-translForWrapper{
	
}

#dic-topResult{
	font-size:large;
	margin:5px 10px;
    width: 850px;
    float: left;
}
.dic-res{
	cursor:pointer;
	text-decoration:underline;
}
.dic-res:hover{
	text-decoration:none;
}
ul#dic-resTabs{
	float:left;
	margin:0 5px;
	width:100%;
}
li.dic-dicSwBase{
	max-width:180px;
	list-style:none outside none;
	color:gray;
	float:left;
}
li.dic-dicSwBase ul{
	margin-bottom:1em;
	list-style:decimal outside none;
}
.dic-partOfSpeech{
	color:#000000;
	font-family:verdana,arial,serif;
	font-style:italic;
	margin:0 0 0 1em;
}

.dic-sound{
  width:24px;
  height:24px;
  display:block;
  float:left;
  background:transparent url(../img/icons/sounds.png) no-repeat scroll 0 0;
  margin-top:7px;
}
.dic-activeSound{
  background-position: 0 -32px;
}
.dic-activeSoundPlay{
	background-position: 0 -64px;
}
.dic-activeSoundHover{
		background-position: 0 -96px;
}

.dic-insertIntoWrapper{
	background:transparent url(../img/pic/aaaaaa_40x100.png) scroll 0 0;
	left:550px;
	position:absolute;
	top:280px;
	padding:5px;
	z-index:1027;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-insertInto{	
	padding:5px 20px;
	background-color:#FFFFC6;
	border:1px solid #aaaaaa;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/
}
.dic-resActive{
	color:blue;
}
/* line with history of translated words */
.dic-dicWrapperCtrl{
  margin:5px;
  float:left;
  background:url("../img/icons/up_down_arrow_small.png") no-repeat scroll 100% -35px transparent;
  padding:0 17px 0 0;
}
.dic-wordHisList{
	cursor:pointer;
	float:left;
	margin:5px 5px 5px 15px;
	overflow:hidden;
	width:810px;	
}
.dic-wordHis{
	display:inline;
	margin-left:5px;
	color:#66AACC;
}
span.dic-wordHis:hover{
	color:#fff;
	text-decoration:underline;
}

.dic-dicBar{
  background-color:#224466;
  margin-top:230px;
  color:white;
  position:relative;
}

.dic-dicBar div.ttm{
  color:yellow;
  background-position: 100% -54px;
}
.dic-langToFrom{
	/*background:url("../img/icons/up_down_arrow_small.png") no-repeat scroll 100% -17px transparent;
	margin:7px 5px 0 0;
	padding:0 17px 0 0;*/
	float:left;
	border-bottom:1px solid #fff;
}
.dic-langToFrom:hover{
	border-color:#ccc;
	background-color:#f5f5dc;
}
.dic-langToFromActive{
	border-color:#ccc;
	background-position:100% 2px;
	background-color:#f5f5dc;
}
#dic-langTo,#dic-langFrom{
	color:blue;
	font-weight:bold;
	padding:0 3px;
}
.dic-fadeOutLine{
  position:absolute;
  background:url("../img/pic/ec-fade-out.png") repeat-y scroll -80px 0 transparent;
  width:60px;
  height:100%;
  top:0;
  right:20px;
}
.dic-wordHisLess{
  background:transparent url(../img/icons/round_left_arrow_16x16.png) no-repeat scroll 0 0;
  position:absolute;
  height:16px;
  width: 16px;
  top:6px;
  left: 90px;
}
.dic-wordHisMore{
  background:transparent url(../img/icons/round_right_arrow_16x16.png) no-repeat scroll 0 0;
  position:absolute;
  height:16px;
  width: 16px;
  top:6px;
  right:4px;
}
.dic-wordHisFirst{
	color:tan;
}



.tetete{
	float:left;
}





#dic-langSwitch{
	background:url("../img/icons/lang_switch.png") no-repeat scroll 0 0 #eee;
	border:1px solid #aaa;
	color:red;
	display:inline-block;
	height:17px;
	width:17px;
	vertical-align:text-bottom;
	margin:0 6px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*behavior: url(./css/border-radius.htc);*/
}
#dic-langSwitch:hover{
	background-color:#ddd;
	border-color:#aaa;
}


#dic-word2Transl{
	width:600px;
	padding:3px;
}
.dic-translLine{
	background-color:#FAEBD7;
	float:left;
	padding:5px 5px 5px 10px;
}
.dic-insMode{
  border:1px dashed transparent;
  padding:1px 2px;
  color:brown;
}
.dic-insModeActive{
	background-color:Gainsboro;
	color:green;
}