/* 
	Lesson - theme: lt- 
*/

.lt-wrapper{
	float:left;
}
.lt-lesson, .lt-theme{
	font-family:Georgia, Times New Roman, serif;
	font-size:14pt;
	font-style:italic;
	margin-right:.3em;
	color:gray;
}
.lt-theme{
	font-size:12pt;
}
.lt-edit a{
	text-decoration:none;
}

.lt-langFrom, .lt-langTo{
	background-color:beige;
	border:1px solid #aaa;
	line-height:1em;
	padding:3px;
	margin:0 5px;

	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*behavior: url(./css/border-radius.htc);*/	
}
.lt-langToFromActive {
	border-color:#000;
	background-color:#F9F9F9;
}

.lt-langPadWrapper {
	background:url("../img/pic/aaaaaa_40x100.png") repeat scroll 0 0 transparent;
  padding:5px;
  position:absolute;
	top:80px;
	z-index:1005;
  left:350px;
  
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*behavior: url(./css/border-radius.htc);*/  
}
.lt-langPad{
	background-color:#f9f9f9;
	border:1px solid #aaa;
	padding:3px 10px;
	float:left;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	/*behavior: url(./css/border-radius.htc);*/		
}
#lt-closeLangPad {
	background:transparent url(../img/icons/error.png) no-repeat scroll right 0;
	height:16px;
	width:16px;
	position:absolute;
	right:-3px;
	top:-3px;
}